.quiz-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.quiz-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.option-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd; /* Removido do inline */
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.option-button:hover {
  background-color: #e6e6e6;
}

.next-button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.next-button:hover {
  background-color: #45a049;
}

.restart-button {
  background-color: #008CBA;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.restart-button:hover {
  background-color: #007bb5;
}
